/* Layout */
HTML,
BODY {
    padding: 0;
    margin: 0;
    height: 100%;
    background: url(../images/body-bg.jpg) no-repeat center center;
}
A {
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
#contents {
    position: absolute;
    width: 800px;
    height: 537px;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -310px;
	border: 10px solid rgba(128, 0, 0, 0.5);
	border-radius: 10px;
    overflow: visible;
}
#contents.no-error {
	border: 10px solid rgba(50, 100, 200, 0.5);
}
#canvas {
    width: 800px;
    height: 537px;
	background: url(../images/canvas-bg.png) no-repeat left top;
}
#status {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 50%;
	top: 10px;
	margin: 0 0 0 -32px;
	background-color: #CCC;
	border: 4px solid #AAA;
	/*border-radius: 3px;*/
}
#obstruction-indicator {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 50%;
	bottom: 16px;
	margin: 0 0 0 -32px;
	background-color: #CCC;
	border-left: 1px solid #090;
	border-top: 1px solid #090;
	border-right: 1px solid #0F0;
	border-bottom: 1px solid #0F0;
	/*border: 4px solid #AAA;
	border-radius: 3px;*/
}
#obstruction-indicator-left,
#obstruction-indicator-right {
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
}
#obstruction-indicator-left.active,
#obstruction-indicator-right.active {
	background-color: #900;
}
#obstruction-indicator-left {
	left: 0;
}
#obstruction-indicator-right {
	right: 0;
}
#status.yellow {
	background-color: #FF0;
}
#status.blue {
	background-color: #00F;
}
#status.go {
	border-color: #090;
}
#status.stop {
	border-color: #900;
}
#controls {
	position: absolute;
	left: 0;
	top: 555px;
	width: 800px;
	height: 30px;
}
#range-indicator {
	position: absolute;
	top: 24px;
	right: 0;
	color: #FFF;
	font-size: 24px;
}
#range-indicator > SPAN {
	font-weight: bold;
}
#state-info-btn {
	position: absolute;
	left: 0;
	top: 20px;
	color: #FFF;
	font-size: 13px;
}
#stop-btn {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
}
.modal {
	position: absolute;
	width: 460px;
	height: 270px;
	padding: 15px 20px;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -250px;
	background-color: #FFF;
	border: 4px solid rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
	display: none;
	overflow: auto;
	z-index: 1;
}
.modal .key {
	color: #900;
}
.modal .string {
	color: #090;
}
.modal .number {
	color: #009;
}
#state-info {
	white-space: pre;
}
#camera-calibration {
	height: 80px;
	margin-top: -40px;
}
#blobber-calibration {
	width: 440px;
	height: 195px;
	margin: -95px 0 0 -240px;
}
#camera-view {
	width: 1280px;
	height: 512px;
	margin: -256px 0 0 -660px;
	padding: 0;
	overflow: visible;
	z-index: 100;
}
#frame-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 512px;
	z-index: 1;
}
#frame-classification {
	position: absolute;
	left: 640px;
	top: 0;
	width: 640px;
	height: 512px;
	z-index: 1;
}
#frame-canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 1280px;
	height: 512px;
	z-index: 2;
}
#camera-view-controls {
	position: absolute;
	left: 0;
	top: -30px;
}
#blobber-view {
	width: 1280px;
	height: 512px;
	margin: -256px 0 0 -665px;
	padding: 0;
	overflow: hidden;
	z-index: 100;
}
#blobber-canvas {
	width: 1280px;
	height: 512px;
}
#current-state-index {
	width: 100px;
	background: transparent;
	border: none;
	color: #FFF;
	padding: 0 6px;
	font-weight: bold;
	font-size: 24px;
	text-align: right;
	outline: none;
}
#connecting {
	position: absolute;
	left: 50%;
	top: -120px;
	margin: 0 -175px;
	width: 350px;
	height: 80px;
	line-height: 80px;
	background-color: #900;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	border: 2px solid #FFF;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(200, 0, 0, 0.5);
	z-index: 2;
}
#gamepad {
	position: absolute;
	left: 0;
	bottom: -120px;
	width: 800px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	font-family: Consolas, monospace;
}
#time {
	position: absolute;
	left: 12px;
	top: 6px;
	color: #FFF;
}
#load {
	position: absolute;
	left: 12px;
	top: 28px;
	width: 155px;
	height: 4px;
	background-color: #090;
	border-radius: 2px;
}
#load > SPAN {
	display: block;
	width: 0%;
	height: 4px;
	max-width: 155px;
	line-height: 4px;
	background-color: #060;
	border-radius: 2px;
}
#ball-indicator {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 10px;
	bottom: 10px;
	background: url(../images/got-ball-icon.png) no-repeat left top;
	opacity: 0.25;
}
#ball-indicator.got-ball {
	opacity: 1;
}
#fps-indicator {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 16px;
	color: #FFF;
}

/* Tasks */
#tasks {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 4px;
    max-height: 90%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
}
#tasks > LI {
	position: relative;
    width: 240px;
    padding: 5px 10px;
    margin: 1px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
/*#tasks > LI:first-child {
    margin-top: 0;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 255, 0, 0.5);
}*/
#tasks > LI:last-child {
    border-radius: 0 0 3px 3px;
}
#tasks > LI > .percentage {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	background-color: rgba(0, 255, 0, 0.5);
	z-index: 1;
}
#tasks > LI > .status {
	position: relative;
	z-index: 2;
}

/* Controller states */
#controller-state {
    position: absolute;
    top: 200px;
    left: 20px;
    margin: 0;
    padding: 4px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
}
#controller-state > LI {
	position: relative;
    width: 240px;
    padding: 5px 10px;
    margin: 1px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
#controller-state > LI > UL {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}

/* Options and buttons */
#options,
#buttons {
	position: absolute;
	top: -10px;
	/*background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px;*/
	color: #FFF;
}
#options {
	width: 210px;
	left: -230px;
	top: 240px;
}
#options > TABLE TH,
#options > TABLE TD {
	width: 50%;
	padding: 2px 8px;
}
#options > TABLE TH {
	text-align: right;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 2px #333;
}
#buttons {
	width: 160px;
	right: -180px;
}
#buttons BUTTON,
#buttons SELECT {
	width: 100%;
	line-height: 25px;
}
#buttons SELECT {
	padding: 5px 0;
}
#buttons .seperated {
	margin-top: 20px;
}

/* Debugging */
#debug-wrap {
    position: absolute;
    left: 20px;
    top: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#debug-wrap > LI {
    float: left;
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 10px;
    color: #FFF;
}

/* Debugging */
#log {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	overflow: hidden;
	z-index: 10;
	display: none;
}
#log > div {
	padding: 0px 12px;
	line-height: 14px;
}
#log > div:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
#log > .negative {
	color: #900;
}
#log > .positive {
	color: #090;
}
#log > .info {
	color: #000;
}
#log > .external {
	font-style: italic;
}
@media all and (min-width: 1400px) {
	#log {
		display: block;
	}
}

/* RX / TX */
#rx-tx {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 16px;
	height: 15px;
	z-index: 11;
	border-radius: 3px;
}
#rx, #tx {
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 15px;
	background-color: #888;
}
#rx {
	border-radius: 2px 0 0 2px;
}
#tx {
	left: 8px;
	border-radius: 0 2px 2px 0;
}
#rx.active {
	background-color: #090;
}
#tx.active {
	background-color: #900;
}

/* Connection */
#connection {
	position: absolute;
	right: 24px;
	top: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
}
#connection LI {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	width: 2px;
	height: 16px;
	background-color: #888;
}
#connection LI.active {
	background-color: #090;
}
#connection LI:nth-child(1) {
	height: 3px;
	margin-top: 12px;
}
#connection LI:nth-child(2) {
	height: 6px;
	margin-top: 9px;
}
#connection LI:nth-child(3) {
	height: 9px;
	margin-top: 6px;
}
#connection LI:nth-child(4) {
	height: 12px;
	margin-top: 3px;
}
#connection LI:nth-child(5) {
	height: 15px;
	margin-top: 0px;
}

/* Robot status */
#robot {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #CCC;
	box-shadow: 0 0 5px #333;
}
#dir {
	position: absolute;
	left: 50%;
	top: 0;
	width: 10%;
	height: 50%;
	margin-left: -5%;
	background-color: #BBB;
}
.wheel {
	position: absolute;
	width: 25%;
	height: 15%;
	background-color: #900;
	border-radius: 4px;
}
#wheelFL {
	left: 12%;
	top: 12%;
	-webkit-transform:rotate(-45deg);
}
#wheelFR {
	right: 12%;
	top: 12%;
	-webkit-transform:rotate(45deg);
}
#wheelRL {
	left: 12%;
	bottom: 12%;
	-webkit-transform:rotate(-135deg);
}
#wheelRR {
	right: 12%;
	bottom: 12%;
	-webkit-transform:rotate(135deg);
}

/* Wheel graphs */
#wheel-graphs {
	position: absolute;
	top: -10px;
	left: -230px;
	width: 210px;
	height: 200px;
}
#graphs-toggle-btn {
	position: absolute;
	top: 210px;
	left: -230px;
	color: #3563a4;
	text-shadow: 1px 1px 1px #CCC;
}
.wheel-graph {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #000;
	border-radius: 3px;
	z-index: 1;
}
.wheel-graph:hover {
	width: 600px;
	height: 400px;
	z-index: 2;
}
#wheel-graph-fl {
	left: 0;
	top: 0;
}
#wheel-graph-fr {
	left: 110px;
	top: 0;
}
#wheel-graph-rl {
	left: 0;
	top: 110px;
}
#wheel-graph-rr {
	left: 110px;
	top: 110px;
}
#wheel-graphs.full {
	left: 0;
	top: 0;
	width: 800px;
	height: 537px;
	background-color: #FFF;
}
#wheel-graphs.full .wheel-graph {
	width: 50%;
	height: 50%;
	border-radius: 0;
	outline: 4px solid #FFF;
}
#wheel-graphs.full #wheel-graph-fr {
	left: 50%;
}
#wheel-graphs.full #wheel-graph-rl {
	top: 50%;
}
#wheel-graphs.full #wheel-graph-rr {
	left: 50%;
	top: 50%;
}

/* Form table */
TABLE.form {
	width: 100%;
	margin: 0;
}
TABLE.form TH,
TABLE.form TD {
	padding: 2px 4px;
}
TABLE.form TH {
	width: 30%;
	text-align: right;
}
TABLE.form.tight TH {
	width: 1%;
	padding-right: 10px;
}

/* Slider */
.slider-wrap {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	margin: 4px 0;
	background-color: #CCC;
	border-radius: 2px;
}
.slider-wrap.with-value,
.slider-wrap.with-range {
	margin: 4px 0 24px;
}
.slider-connector-left {
	position: absolute;
	width: 0;
	height: 4px;
	left: 0;
	top: 0;
	background-color: #AAA;
	border-radius: 2px 0 0 2px;
}
.slider-handle-left,
.slider-handle-right {
	position: absolute;
	width: 10px;
	height: 16px;
	left: 0;
	top: -6px;
	margin-left: -2px;
	background-color: #666;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-radius: 2px;
	box-shadow: 0 0 10px #666;
}
.slider-value {
	position: absolute;
	width: 60px;
	text-align: center;
	left: 50%;
	margin-left: -20px;
	top: 8px;
	font-size: 12px;
	color: #666;
}
.slider-range-min,
.slider-range-max {
	position: absolute;
	top: 8px;
	font-size: 12px;
	color: #666;
}
.slider-range-min {
	left: 0;
}
.slider-range-max {
	right: 0;
}
.slider-unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.ctrl {
	display: none;
}
